<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Adicionar Novo Pedido</title>
</head>

<body>
    <h2>Adicionar Novo Pedido</h2>
    <form th:action="@{/pedidos/savePedido}" th:object="${pedido}" method="post">
        <label for="selectCliente">Selecione o Cliente:</label>
        <select id="selectCliente" name="cliente.idcliente" th:field="*{cliente.idcliente}">
            <option th:each="cliente : ${listaClientes}" th:value="${cliente.idcliente}" th:text="${cliente.descricao}">
            </option>
        </select><br>

        <label for="selectVendedor">Selecione o Vendedor:</label>
        <select id="selectVendedor" name="vendedor.idvendedor" th:field="*{vendedor.idvendedor}">
            <option th:each="vendedor : ${listaVendedores}" th:value="${vendedor.idvendedor}"
                th:text="${vendedor.nome}">
            </option>
        </select><br>

        <label for="selectTempo">Selecione o Tempo:</label>
        <select id="selectTempo" name="tempo.idtempo" th:field="*{tempo.idtempo}">
            <option th:each="tempo : ${listaTempos}" th:value="${tempo.idtempo}" th:text="${tempo.datacompleta}">
            </option>
        </select><br>

        <label for="valorTotal">Valor Total:</label>
        <input type="number" id="valorTotal" name="valorTotal" th:field="*{valorTotal}"><br>

        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/pedidos}">Voltar</a>
</body>

</html>